@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ece5e5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 30px;
}

ol {
  list-style: decimal;
  padding-left: 30px;
}

img {
  max-width: 100%;
  height: auto;
}

::selection {
  background-color: #fff7d6;
  color: #242424;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f0f5eb;
}

::-webkit-scrollbar-thumb {
  background: #485040;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background: #afbca1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  background: #161b22;
  padding: 0.4em 1rem;
  line-height: 1.8;
  color: white;
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: block;
  /* overflow: auto; */

  &::-webkit-scrollbar {
    height: 10px;
  }
}

/* change later to thorns and spines default */
body {
  @apply bg-tns-ash-gray-light text-tns-mint-cream;
}

@layer components {
  .underline-animation {
    @apply relative;
  }
  .underline-animation::after {
    @apply absolute content-[''] w-full h-[1px] left-0 bottom-[-4px]
     bg-tns-ebony scale-x-0 hover:scale-x-100 origin-bottom-right
     hover:origin-bottom-left transition-transform duration-500;
  }

  .underline-animation-right {
    @apply relative;
  }
  .underline-animation-right::after {
    @apply absolute content-[''] w-full h-[1px] right-0 bottom-[-4px]
     bg-tns-ebony scale-x-0 hover:scale-x-100 origin-bottom-left
     hover:origin-bottom-right transition-transform duration-500;

  }
  .underline-animation-center{
    @apply relative;
  }
  .underline-animation-center::after {
    @apply absolute content-[''] w-full h-[1px] left-0 bottom-[-4px]
     bg-tns-ebony scale-x-0 hover:scale-x-90 origin-center
     hover:origin-center transition-transform duration-500;
  }
}
